html {
    font-family: 'Titillium Web', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: var(--main-text-color);
    background: var(--main-color-hover);
}

::selection {
    color: var(--main-text-color);
    background: var(--main-color-hover);
}

body {
    margin: unset;
    color: var(--main-text-color);
    background-color: var(--main-body-background-color);
}

.main_container {
    width: 65%;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.container {
    flex-direction: column;
    display: flex;
}

.row {
    flex-direction: row;
    display: flex;
    margin: auto;
}

.second_button {
    margin: 0 20px 0 20px;
}

input {
    margin: auto;
    width: 50%;
    height: 20px;
    background-color: #ffffff;
    border: 4px solid #597666;
    border-radius: 6px;
}

label {
    font-size: 20px;
}

@media (max-width: 640px) {
    .row {
        display: block;
        flex-direction: unset;
    }

    .second_button {
        margin: unset;
    }
    .main_container {
        width: 85%;
    }
}