:root {
    --main-text-color: white;
    --main-body-background-color: #111;

    --primary-main-color: #B19777FF; /* цвет главных надписей */
    --primary-main-light-color: #dac09f; /* цвет главных надписей */
    --primary-backround-color: #F8F4F3;  /* цвет всевозможных вствленных геометрический фигур,которые выделяют блоки*/
    --primary-backround-dark: #141414;

    --primary-navbar_white_color: #eee;
    --primary-navbar_green_color: #222;
    --primary-navbar_dark_color: #111;

    --primary-shadow-gray: #00000033;
    --primary-shadow-dark: #FFFFFF33;

    --primary-white: #fff; /* самый главный белый цвет, отвечает за цвет фона и белый текст */
    --primary-black: #191514;
    --primary-curve-dark: #1e1e1e;
    --primary-curve-second-dark: #090909;
    --primary-gray: #777;

    --primary-box-green: #f7f7f7; /* цвет рамки у отзывов */

    --primary-text_green_color: #888;
    --primary-text_gray_color: #b7b7b7;
    --primary-text_black_color: #000;

    --primary-skill-grey: #333;

    --primary-contact-color: #dad6d6; /* цвет контактов в футере*/

    --font_style: "Oswald", sans-serif;
}

:root {
    --main-color: #8cd6ad;
    --main-color-hover: #299f67;
    --main-color-selected: #72b08e;

    --main-gray: #dad6d6;
    --main-dark-gray-border: #5a5858;
    --main-black: #111;
    --main-white: #ffffff;

    --main-error-border: #cc0f0f;
    --main-error-hover: #cc0f0f;
    --main-error-selected: #cc0f0f;
    --main-error-red: #fbcbd1;

    --main-success-border: #299f67;
    --main-success-hover: #47af78;
    --main-success-selected: #299f67;
    --main-success-green: #8cd6ad;
}


.price_description {
    padding-top: 90px !important;
    padding-bottom: 80px !important;
}

.spacial {
    color: var(--main-black);
    font-size: 20px;
    font-weight: 500;
    white-space: pre-wrap;
}

.price_points {
    padding-top: 10px !important;
    padding-bottom: 25px !important;
}

.margin-70-50 {
    padding-top: 70px !important;
    padding-bottom: 50px !important;
}

.margin-10-30 {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}

.price_include {
    color: var(--main-black);
    font-weight: 600;
    font-size: 55px;
    line-height: 53px;
}

.write_me {
    color: var(--main-black);
    font-weight: 600;
    font-size: 55px;
    line-height: 56px;
}

hr {
     border: none; /* Убираем границу для браузера Firefox */
     color: var(--main-color); /* Цвет линии для остальных браузеров */
     background-color: var(--main-color); /* Цвет линии для браузера Firefox и Opera */
     height: 2px; /* Толщина линии */
 }

.circle {
    height:40px;
    width:40px;
    /*-webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);*/
    /*-moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);*/
    /*box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);*/
    border-radius: 50%;
    background: var(--main-color);
    text-align: center;
    font-size: 26px;
    color: var(--main-white);
    display: inline-block;
    position: relative;
    top: 0px;
    margin-right: 28px;
    margin-left: 36px;
}

.some_point {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.write_me_price {
    color: var(--main-black);
    font-weight: 500;
    white-space: pre-line;
}

.write_me_price p {
    color: var(--main-white);
    font-size: 20px;
}

.write_me_form {
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: center
}

.my_form {
    gap: 0px;
    width: 500px;
}

.form-label {
    font-size: 20px;
}

.write_me_form input:focus {
    border-color: var(--main-color);
    outline: 2px solid var(--main-color);
}

.button-div {
    padding-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.my_button {
    position: relative;
    background: var(--main-dark-gray-border);
    color: var(--main-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.my_button:hover {
    letter-spacing: 0.25em;
    background: var(--main-color);
    box-shadow: 0 0 35px var(--main-color)
}

.my_button span {
    position: relative;
    z-index: 1;
}

.my_button:hover span {
    color: var(--main-color);
}

.my_button:before {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--main-black);
}

.my_button i {
    position: absolute;
    inset: 0;
    display: block;
}

.my_button i::before {
    content: "";
    position: absolute;
    border: 2px solid var(--main-color);
    left: 80%;
    height: 10px;
    width: 15px;
    top: -3.5px;
    background: var(--main-black);
    /*transform: translateX(-50%);*/
    transition: 0.5s;
}

.my_button:hover i::before {
    width: 25px;
    left: 20%;
}

.my_button i::after {
    content: "";
    position: absolute;
    border: 2px solid var(--main-color);
    right: 80%;
    height: 10px;
    width: 15px;
    bottom: -3.5px;
    background: var(--main-black);
    /*transform: translateX(-50%);*/
    transition: 0.5s;
}

.my_button:hover i::after {
    width: 25px;
    right: 20%;
}

.menu_element {
    display: none;
    font-size: 20px;
    white-space: pre-line;
}

.questions {
    padding-bottom: 50px;
}

.question {
    font-size: 28px;
    cursor: pointer;
}

.my_row {
    display: flex;
    justify-content: space-between;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.message {
    padding: 10px !important;
    text-align: center;
    transform: translateX(150%);
    transition: .5s;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.message.active {
    transform: translateX(0);
}

input._error {
    box-shadow: 0 0 15px var(--main-error-border);
}

.error_message ::-moz-selection { /* Code for Firefox */
    color: var(--main-text-color);
    background: var(--main-error-border);
}

.error_message ::selection {
    color: var(--main-text-color);
    background: var(--main-error-border);
}

.my_messages {
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 12345;
    height: auto;
    width: auto;
    display: block;
    transition: all 400ms linear;
}

.success_message {
    background-color: var(--main-success-green);
}

.error_message {
    background-color: var(--main-error-red);
}
