<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', path='/css/main_styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main_exported.css') }}" rel="stylesheet">

    <!-- main styles -->
    <style>

    </style>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
</head>

<!-- main html body -->
<body>
    <div style="">
        <div class="main_container">
            <h1> some text </h1>

            <form id="check_my_stats">

                <div class="container">
                    <label><b>Pregnancies</b></label>
                    <input id="Pregnancies" type="number" placeholder="~1" name="Pregnancies">

                    <label><b>Glucose</b></label>
                    <input id="Glucose" type="number" placeholder="~100" name="Glucose">

                    <label><b>BloodPressure</b></label>
                    <input id="BloodPressure" type="number" placeholder="~59" name="BloodPressure">

                    <label><b>SkinThickness</b></label>
                    <input id="SkinThickness" type="number" placeholder="~23" name="SkinThickness">

                    <label><b>Insulin</b></label>
                    <input id="Insulin" type="number" placeholder="~50" name="Insulin">

                    <label><b>BMI</b></label>
                    <input id="BMI" type="number" placeholder="~28" name="BMI">

                    <label><b>DiabetesPedigreeFunction</b></label>
                    <input id="DiabetesPedigreeFunction" type="number" placeholder="~1" name="DiabetesPedigreeFunction">

                    <label><b>Age</b></label>
                    <input id="Age" type="number" placeholder="~30" name="Age">

                </div>
                <div class="button-div">
                    <a id="form_submit_button" type="submit" class="my_button"><span>Check</span><i></i></a>
                </div>
            </form>

            <br>
            <hr>

            <div>
                <h1 id="result"></h1>
            </div>

            <br>
            <hr>

            <div class="container">
                <div class="row">
                    <div class="button-div second_button">
                        <a id="form_zero_result_button" type="submit" class="my_button">
                            <span>Set for 0</span>
                            <i></i>
                        </a>
                    </div>
                    <div class="button-div second_button">
                        <a id="form_one_result_button" type="submit" class="my_button">
                            <span>Set for 1</span>
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="my_messages">
    <ul id="my_message_list">

    </ul>
</div>

<!-- js logic -->
<script src="{{ url_for('static', path='/js/main_logic.js') }}"></script>
<script src="{{ url_for('static', path='/js/main_exported.js') }}"></script>
<script>
    $(document).ready(function() {
        let Pregnancies = document.getElementById("Pregnancies")
        let Glucose = document.getElementById("Glucose")
        let BloodPressure = document.getElementById("BloodPressure")
        let SkinThickness = document.getElementById("SkinThickness")
        let Insulin = document.getElementById("Insulin")
        let BMI = document.getElementById("BMI")
        let DiabetesPedigreeFunction = document.getElementById("DiabetesPedigreeFunction")
        let Age = document.getElementById("Age")


        $("#form_submit_button").click(function(e) {
            $("#check_my_stats").submit();
        })
        $("#form_one_result_button").click(function(e) {
            set_value({{ one_predict }})
        })
        $("#form_zero_result_button").click(function(e) {
            set_value({{ zero_predict }})
        })

        $("#check_my_stats").submit(function (e) {
            let correct = true;

            if (!(
                Age.value
                && DiabetesPedigreeFunction.value
                && BMI.value
                && Insulin.value
                && SkinThickness.value
                && BloodPressure.value
                && Glucose.value
                && Pregnancies.value
            )) {
                show_error_message("PLS Input all data");
                return false
            }

            if (correct) {
                show_success_message("all correct, pls wait some time");
                // send_email(name, email, phone);
                let url, param
                if ("{{ model_exists }}" === "True") {
                    url = "{{ url_for('main_check') }}"
                    param = "Checked by local model"
                } else {
                    url = "{{ url_for('predict_by_microservice') }}"
                    param = "Checked by remote model"
                }
                get_result(url, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, param)
                Pregnancies.value = ""
                Glucose.value = ""
                BloodPressure.value = ""
                SkinThickness.value = ""
                Insulin.value = ""
                BMI.value = ""
                DiabetesPedigreeFunction.value = ""
                Age.value = ""
            }
            return false;
        });

        function get_result(url, Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, param) {
            $.ajax({
                // url: "{{ url_for('main_check') }}",
                // url: "{{ url_for('predict_by_microservice') }}",
                url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    pregnancies: Pregnancies.value,
                    glucose: Glucose.value,
                    blood_pressure: BloodPressure.value,
                    skin_thickness: SkinThickness.value,
                    insulin: Insulin.value,
                    bmi: BMI.value,
                    diabetes_pedigree_function: DiabetesPedigreeFunction.value,
                    age: Age.value,
                }),
                success: function (response) {
                    let message = ""
                    set_result(response.result)
                    if (response.result === 0) {
                        message = "Nice, Low risk of stroke "
                    } else {
                        message = "Too bad, High risk of stroke "
                    }
                    show_success_message(message, param)
                },
                error: function(response) {
                    show_error_message("Some error occurred :( " + param)
                }
            })
        }

        function set_value(array) {
            Pregnancies.value = array[0]
            Glucose.value = array[1]
            BloodPressure.value = array[2]
            SkinThickness.value = array[3]
            Insulin.value = array[4]
            BMI.value = array[5]
            DiabetesPedigreeFunction.value = array[6]
            Age.value = array[7]
        }

        function set_result(value) {
            let element = document.getElementById("result")
            element.style.display = "block"
            if (Number(value) > 0) {
                element.innerText = "Last Result - " + value
                element.style.color = "vat(--main-error-border)"
            } else {
                element.innerText = "Last Result - " + value
                element.style.color = "vat(--main-success-border)"
            }
        }

        function hide_result() {
            document.getElementById("result").style.display = "none"
        }
    })
</script>

</html>